h1 {
    color: rgb(229, 85, 107);
}
body {
     background-image: url(http://getwallpapers.com/wallpaper/full/b/3/1/912066-download-free-hillsong-young-wallpapers-2560x1600-samsung-galaxy.jpg) }
}

.container {
    background-color: #e55c5c
}

ul {
    list-style: none;color: #ea1f1f
}
.surname {
    color:rgb(245, 57, 164);
}


/**** Objective****/
#Objective h2 {
    color: #8800ff
}

h2 {
    color:#dd668b
}

h3 {
    color:rgb(175, 45, 45)
}


}

body {
    color: rgb(44, 15, 33)
}

p {color:#000000}